@font-face {
    font-family: 'Fonts';
    src: url('assets/fonts/fa-brands-400.woff2') format('woff2'),
         url('assets/fonts/fa-brands-400.woff') format('woff'),
         url('assets/fonts/fa-brands-400.ttf') format('truetype'),
         url('assets/fonts/fa-brands-400.svg') format('svg'),
         url('assets/fonts/fa-brands-400.eot') format('embedded-opentype'),

         url('assets/fonts/fa-regular-400.woff2') format('woff2'),
         url('assets/fonts/fa-regular-400.woff') format('woff'),
         url('assets/fonts/fa-regular-400.ttf') format('truetype'),
         url('assets/fonts/fa-regular-400.svg') format('svg'),
         url('assets/fonts/fa-regular-400.eot') format('embedded-opentype'),
         
         url('assets/fonts/fa-solid-900.woff2') format('woff2'),
         url('assets/fonts/fa-solid-900.woff') format('woff'),
         url('assets/fonts/fa-solid-900.ttf') format('truetype'),
         url('assets/fonts/fa-solid-900.svg') format('svg'),
         url('assets/fonts/fa-solid-900.eot') format('embedded-opentype');
         
    font-weight: normal;
    font-style: normal;
  }
  