<div class="home-container">
    <!-- Hero Section -->
    <section class="hero">
      <div class="overlay">
        <div class="hero-content">
          <h1>Crie Ambientes Exclusivos com Móveis Sob Medida</h1>
          <p>Descubra soluções personalizadas para cada espaço da sua casa.</p>
          <a routerLink="/product-selection" class="cta-button">Explore Nossos Projetos</a>
        </div>
      </div>
    </section>
  
    <!-- Quick Links Section -->
    <section class="quick-links">
      <h2>Ambientes Personalizados</h2>
      <div class="links">
        <a routerLink="/kitchen" class="link-item">
          <div class="link-image" style="background-image: url('assets/images/kitchen.jpg');"></div>
          <span>Cozinha</span>
        </a>
        <a routerLink="/bedroom" class="link-item">
          <div class="link-image" style="background-image: url('assets/images/bedroom.jpg');"></div>
          <span>Quarto</span>
        </a>
        <a routerLink="/bathroom" class="link-item">
          <div class="link-image" style="background-image: url('assets/images/bathroom.jpg');"></div>
          <span>Banheiro</span>
        </a>
        <a routerLink="/living-room" class="link-item">
          <div class="link-image" style="background-image: url('assets/images/living-room.jpg');"></div>
          <span>Sala de Estar</span>
        </a>
        <a routerLink="/office" class="link-item">
          <div class="link-image" style="background-image: url('assets/images/office.jpg');"></div>
          <span>Escritório</span>
        </a>
      </div>
    </section>
  </div>
  