<!-- Footer Section -->
<footer class="footer bg-white bg-opacity-70 py-8 mt-10">
    <div class="container mx-auto tm-container flex flex-col lg:flex-row justify-between items-center">
      <div class="footer-logo text-center lg:text-left mb-6 lg:mb-0">
        <h2 class="text-3xl font-bold text-gray-800">Móveis Sob Medida</h2>
      </div>
      <div class="footer-links flex flex-col lg:flex-row lg:items-center">
        <a routerLink="/about-us" class="footer-link text-lg text-gray-800 hover:text-yellow-600 transition mb-4 lg:mb-0 lg:ml-6">Sobre Nós</a>
        <a routerLink="/services" class="footer-link text-lg text-gray-800 hover:text-yellow-600 transition mb-4 lg:mb-0 lg:ml-6">Serviços</a>
        <a routerLink="/contact" class="footer-link text-lg text-gray-800 hover:text-yellow-600 transition mb-4 lg:mb-0 lg:ml-6">Contato</a>
        <a routerLink="/privacy-policy" class="footer-link text-lg text-gray-800 hover:text-yellow-600 transition mb-4 lg:mb-0 lg:ml-6">Política de Privacidade</a>
      </div>
      <div class="social-media flex mt-6 lg:mt-0">
        <a href="https://facebook.com" class="text-gray-800 hover:text-yellow-600 transition ml-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com" class="text-gray-800 hover:text-yellow-600 transition ml-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://instagram.com" class="text-gray-800 hover:text-yellow-600 transition ml-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://linkedin.com" class="text-gray-800 hover:text-yellow-600 transition ml-4">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
    <div class="container mx-auto tm-container text-center text-gray-800 mt-6">
      <p class="text-sm">&copy; 2024 Móveis Sob Medida. Todos os direitos reservados. | Design por PlusCode.</p>
    </div>
    </footer>

  