@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";




// Fontes
$font-family-base: 'Montserrat', sans-serif;

$bg-color-light: #f8f9fa;
$text-color-dark: #343a40;
$primary-hover-color: #0056b3;
$border-color-light: #e9ecef;
$icon-color-dark: #6c757d;
$element-width-large: 120px;
$button-color-dark: #343a40;